<div class="auth-wrapper">
  <div class="box">
    <div class="top">
      <h2 class="title">{{ 'Register a new account'|t }}</h2>
    </div>

    <div class="middle">
      {% if page.highlighted %}
        {% block highlighted %}
          <div class="highlighted">{{ page.highlighted }}</div>
        {% endblock %}
      {% endif %}

      {{ page.content|without('connecdom_bootstrap_local_tasks', 'connecdom_bootstrap_page_title') }}
    </div>

    <div class="bottom">
      <div class="login-link">
        {{ 'Already have an account?'|t }} <a href="{{ path('user.login') }}">{{ 'Login'|t }}</a>
      </div>
    </div>
  </div>
</div>